---
import fs from "node:fs/promises";
import glob from "tiny-glob";
import { getPlaiceholder } from "plaiceholder";
import {
  exampleBody,
  exampleLink,
  exampleList,
  exampleListItem,
  exampleLQIP,
  exampleNav,
  exampleNavItem,
  exampleTitle,
} from "@plaiceholder/ui";
import { config } from "@/config";
import Layout from "@/layouts/Layout.astro";

const getImages = async (pattern: string) =>
  glob(pattern).then((files) =>
    Promise.all(
      files.map(async (file) => {
        const src = file.replace("public", "");
        const buffer = await fs.readFile(file);

        const {
          metadata: { height, width },
          ...plaiceholder
        } = await getPlaiceholder(buffer);

        return { ...plaiceholder, img: { src, height, width } };
      })
    )
  );

const images = await getImages("./public/assets/images/unsplash/*.{jpg,png}");
---

<Layout variant="home" title="Astro">
  <ul role="list" class={exampleList()}>
    {
      Object.keys(config.examples.pages).map((example, i) => (
        <li class={exampleListItem()}>
          <div aria-hidden="true" class={exampleLQIP()} style={images[i].css} />
          <p class={exampleBody()}>
            <span class={exampleTitle()}>
              {
                config.examples.pages[
                  example as keyof typeof config.examples.pages
                ].title
              }
            </span>
          </p>

          <ul role="list" class={exampleNav()}>
            {Object.keys(config.examples.variants).map((variant) => {
              const href = `/${example}/${variant}`;
              return (
                <li class={exampleNavItem()}>
                  <a href={href} class={exampleLink()}>
                    {
                      config.examples.variants[
                        variant as keyof typeof config.examples.variants
                      ].title
                    }
                  </a>
                </li>
              );
            })}
          </ul>
        </li>
      ))
    }
  </ul>
</Layout>
