---
import { getPlaiceholder } from "plaiceholder";
import {
	exampleBody,
	exampleLink,
	exampleList,
	exampleListItem,
	exampleLQIP,
	exampleNav,
	exampleNavItem,
	exampleTitle,
} from "@plaiceholder/ui";
import { config } from "../config";
import Layout from "../layouts/Layout.astro";
import { getAllUnsplashImagePaths } from "../lib/images";

const plaiceholders = await Promise.all(
	getAllUnsplashImagePaths().map(async (src) => {
		const { css } = await getPlaiceholder(src);

		return css;
	})
).then((values) => values);
---

<Layout variant="home" title="Astro">
	<ul role="list" class={exampleList()}>
		{
			Object.keys(config.examples.pages).map((example, i) => (
				<li class={exampleListItem()}>
					<div
						aria-hidden="true"
						class={exampleLQIP()}
						style={plaiceholders[i]}
					/>
					<p class={exampleBody()}>
						<span class={exampleTitle()}>
							{
								config.examples.pages[
									example as keyof typeof config.examples.pages
								].title
							}
						</span>
					</p>

					<ul role="list" class={exampleNav()}>
						{Object.keys(config.examples.variants).map((variant) => {
							const href = `/${example}/${variant}`;
							return (
								<li class={exampleNavItem()}>
									<a class={exampleLink()} href={href}>
										{
											config.examples.variants[
												variant as keyof typeof config.examples.variants
											].title
										}
									</a>
								</li>
							);
						})}
					</ul>
				</li>
			))
		}
	</ul>
</Layout>
